numpy
tensorflow
tensorflow_datasets
tensorrt
tensorboard
diffusers
xformers
scipy
safetensors
ipykernel
transformers
accelerate
chardet
cchardet
torchvision
torchaudio
matplotlib
omegaconf
safetensors
patch_ng